*{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

/* selectores combinados */
.titulo,h3{color: blue;}

div.contenedor,h2{
    border: 2px dotted black;
}
/* selectores descendientes hijos - hermanos - etc */
div.contenedor p{
    text-align: center;
    color: rgb(248, 8, 28);

}
div.contenedor>p{
    color: rgb(25, 37, 216);
    text-align: right;
    text-decoration: underline;
}
div.contenedor>h1{
    color: rgb(211, 33, 235);
    text-align: center;
}
body>div{
    background-color: yellow;
}
/* > SIRVE PARA SELECCIONAR EL HIJO  */
.contenedor a{
    text-decoration: none;
    color: green;
}
.titulo.h1.h2.h3{
    border: 0mm;
}